.wrapper {
    --shape: 60px;
    width: var(--shape);
    height: var(--shape);
    display: flex;
    align-items: flex-end;
    scale: 100%;
    transition: scale .1s ease-in, border-color .1s ease-in, border-left .1s ease-in;  
}

.top,
.bottom {
    width: 100%;
    height: 100%;
    border-top: 10px solid;

}

.top {
    border-right: 5px solid;

}
.bottom {
    border-left: 5px solid;
}

.wrapper:hover {
    scale: 120%;
}

.wrapper:hover .top {
    border-color: #ffd000;
}

.wrapper:hover .bottom {
    border-color: #ffd000;
}

