.wrapper {
    --shape: 60px;
    --thickness: 10px;
    --horizontalthickness: 5px;
    width: var(--shape);
    height: var(--shape);
    display: flex;
    align-items: flex-end;
    scale: 100%;
    transition: scale .1s ease-in, border-color .1s ease-in; 
    /* border-top: var(--thickness) solid; */
    border-color: #ededed;
}

.wrapper:hover .leftsection,
.wrapper:hover .rightSection {
    border-color: #ffd000;
}

.wrapper:hover {
    scale: 120%;
}

.leftsection,
.rightSection {
    height: 100%;
    width: 100%;
}

.leftsection {
    border-right: var(--horizontalthickness) solid #ededed;
    border-top: var(--thickness) solid #ededed;
}

.rightSection {
    border-left: var(--horizontalthickness) solid #ededed;
    border-top: var(--thickness) solid #ededed;
}