.outline {
    --shape: 60px;
    width: var(--shape);
    height: var(--shape);
    display: flex;
    align-items: flex-end;
    scale: 100%;
    transition: scale .1s ease-in, background-color .1s ease-in;
    border-left: 12px solid #ededed;
    border-bottom: 12px solid #ededed;
}

.outline:hover {
    border-color: #ffd000;
    scale: 120%;
}
